Label {
    border-color: red;
    border-width: 5;
    font-size: 25;
}

.title {
    font-size: 26;
    text-align: center;
    color: blue;
    font-weight: bold;
    margin: 5;
}

.btn {
    background: #6cd6e6;
    border-width: 5;
    color: white;
    width: 300;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
}

.input {
    margin: 10;
    padding: 5 10;
    border-width: 3;
    background-color: beige;

}
